{% extends 'base.html' %}

{% block body %}
    <div class="flex mt-5 p-5 justify-center">
        <h2 class="text-2xl mb-2 text-gray-500">My Posts</h2>
    </div>
    <div class="grid grid-cols-1">
        <!--Card starts here-->
        {% for post in posts %}
        <a href="">

            <div class="rounded overflow-hidden w-36 bg-white shadow-lg">
                <img src="{{ post.image.url }}" alt="">
                            <div class="user-container">
                <img class="w-10" src="{{profile.photo.url}}" alt="">
                            <div>{{post.user}}</div>
            </div>
        </div>
        </a>
        <!--Card ends here-->
        {% endfor %}

    </div>
{% endblock %}


<h1> {{ post.title }}</h1>
<h2> {{ post.user }}</h2>
